---
#
# Tasks for role provision
# 
- name: launch MongoDB  PRIMARY instance
  ec2:
   key_name: "{{ pem_file }}"
   instance_type: "{{ instance }}"
   image: "{{ ami }}"  
   group: "{{ mongo_sg }}"
   region: "{{ instance_region }}"
   wait: yes
   vpc_subnet_id: "{{ subnet }}" 
   instance_tags:
         Name: "{{ tag_pmongo }}"
         Project: "{{ project_tag }}"
  
- name: launch MongoDB SECONDARY
  ec2:
   key_name: "{{ pem_file }}"
   instance_type: "{{ instance }}"
   image: "{{ ami }}"
   group: "{{ mongo_sg }}"
   region: "{{ instance_region }}"
   wait: yes 
   vpc_subnet_id: "{{ subnet }}"
   instance_tags:
         Name: "{{ tag_smongo }}"
         Project: "{{ project_tag }}"


- name: launch Common Cluster Instance
  ec2:
   key_name: "{{ pem_file }}"
   instance_type: "{{ common_instance }}"
   image: "{{ ami }}"
   group: "{{ common_sg }}"
   region: "{{ instance_region }}"
   wait: yes
   vpc_subnet_id: "{{ subnet }}"
   instance_tags:
         Name: "{{ tag_rabbit }}"
         Project: "{{ project_tag }}"


- name: launch EdXapp instance
  ec2:
   key_name: "{{ pem_file }}"
   instance_type: "{{ app_instance }}"
   image: "{{ ami }}"    
   group: "{{ edxapp_sg }}"
   region: "{{ instance_region }}"
   wait: yes
   vpc_subnet_id: "{{ subnet }}"   
   count: "{{ app_count }}"
   instance_tags:
         Name: "{{ tag_app }}"
         Project: "{{ project_tag }}"

...
