# Create AWS resources for Open edX build server (IAM user, ec2 security group, ec2 instance)
#
# Usage:
#   ansible-playbook -vvvv create_build_stack.yml -e short_name=...
---
- hosts: localhost
  vars_files:
    - [ "params/{{ short_name }}-base.yml", "params/unizin-base.yml" ]
  tasks:
    - name: create Open edX build stack
      cloudformation:
        stack_name: "Open-edX-{{ full_name }}"
        region: "us-east-1"
        state: "present"
        template: "cfn/build-stack.template"
        template_parameters:
          VPC: "vpc-2ec89b4b"
          BaseAMI: "ami-11647307"
          UniversityShortName: "{{ short_name }}"
        tags:
          Stack: "Open-edX-{{ full_name }}-Build"
          Project: "openedx"
...
